@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body {
  margin: 0;
  font-family:'Poppins' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.authBannerWrapper p{
  margin:0;
    text-align: center;
    font-size: 21px;
    color:#000000;
    font-weight: 500;
} 

.auth-btn{
  padding: 13px;
    width: 100%;
    border-color: #e3eff7;
    background: #000000c9;
    color: white;
    font-weight: 600;
    border-radius: 31px;
}

.auth-field{
  padding: 13px !important;
  border-radius: 31px !important;
}

.authBannerWrapper img{
  height: 200px;

}

.authBannerTitle{
  font-size: 13px;
  color: grey;
}

.navbar-nav{
  font-size: 17px;
}

.img-wrapper{
  background-image: url('../public/assets/main.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:17px;
  background-color: #00000030;
  background-blend-mode: overlay;

}

.img-wrapper h1,p{
  color:white;
 
}

.btn-outline-success{

  border-color: #ff9758!important;
  color: #ff7532!important;
 
}

.btn-outline-success:hover{
  background: #ff915142!important;
}

.product-card{
 height: 400px !important;
}

.product-card img{
  height: 100%;
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.btn-success{
  background:#ff7532!important;
  border-color: #ff9758!important;
}

.btn-cart-op-wrapper{
  background: #f1f1f1;
    align-items: center;
    padding: 0.2em;
    font-weight: bolder;
    box-shadow: 2px 4px 13px -2px #cec9c9;
    border-radius: 5px;
}

.poduct-title{
  color: #f75a1d !important;
}

.btn-cart-op-wrapper p{
  margin: 0;
  font-size: 1.3em;
  color: #f75a1d !important;

}

.left{
  margin-left: 4px;
}