@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body {
  margin: 0;
  font-family:'Poppins' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.authBannerWrapper p{
  margin:0;
    text-align: center;
    font-size: 21px;
    color:#000000;
    font-weight: 500;
} 

.auth-btn{
  padding: 13px;
    width: 100%;
    border-color: #e3eff7;
    background: #000000c9;
    color: white;
    font-weight: 600;
    border-radius: 31px;
}

.auth-field{
  padding: 13px !important;
  border-radius: 31px !important;
}

.authBannerWrapper img{
  height: 200px;

}

.authBannerTitle{
  font-size: 13px;
  color: grey;
}
